<h1 class="text-center">
  Welcome to {{ title }}!
</h1>
<p-table [value]="authorsItems" class="ui-g-12">
    <ng-template pTemplate="header">
        <tr class="ui-g">
            <th class="ui-g-1">Save</th>
            <th class="ui-g-1">#</th>
            <th class="ui-g-3">First name</th>
            <th class="ui-g-3">Last name</th>
            <th class="ui-g-3">List of Books</th>
            <th class="ui-g-1" colspan="1">Del</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-author>
        <tr class="ui-g">
            <td class="ui-g-1">
                <button pButton type="button"  class="ui-button-rounded ui-button-success" icon="pi pi-save" style="font-size: 0.75em;float: left" (click)="save(author)"></button>
            </td>
            <td class="ui-g-1">{{author.id}}</td>
           <td pEditableColumn class="ui-g-3">
               <p-cellEditor>
                   <ng-template pTemplate="input">
                       <input type="text" [(ngModel)]="author.firstName" required>
                   </ng-template>
                   <ng-template pTemplate="output">
                       {{author.firstName}}
                   </ng-template>
               </p-cellEditor>
           </td>
           <td pEditableColumn class="ui-g-3">
               <p-cellEditor>
                   <ng-template pTemplate="input">
                       <input type="text" [(ngModel)]="author.lastName">
                   </ng-template>
                   <ng-template pTemplate="output">
                       {{author.lastName}}
                   </ng-template>
               </p-cellEditor>
           </td>
           <td class="ui-g-3"><a routerLink="/books" routerLinkActive="active" (click)="getIdForDropDown(author.id)">{{'Link'}}</a></td>
           <td class="ui-g-1">
               <button pButton type="button"  class="ui-button-rounded ui-button-danger" icon="pi pi-trash" style="font-size: 0.75em;float:right" (click)="deleteAuthor(author)"></button>
           </td>
       </tr>
    </ng-template>
</p-table>
    <button pButton type="button" label="Add" class="ui-button-rounded ui-button-info"  style="font-size: 1em;float: left" icon="pi pi-plus" (click)="addAuthor()"></button>
    <button pButton type="button" label="Cancel" class="ui-button-rounded ui-button-warning"  style="font-size: 1em;float: right" (click)="cancel()"></button>
<div>{{statusMessage}}</div>
